* {
  margin: 0;
  box-sizing: border-box;
}
.app {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  margin: 20px 0;
}

.todos {
  margin-top: 10px;
}

.todoItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  display: flex;
}

.todoItem p {
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.todoItem span {
  cursor: pointer;
}

.todoItem span:hover {
  color: red;
}

.todoItem span:first-of-type {
  margin-right: 8px;
}

.strikethrough {
  text-decoration: line-through;
}

.nostrikes {
  text-decoration: none;
}
button {
  padding: 5px;
}
